@using TeamCityTheatre.Web.Controllers

<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">TeamCity Theatre</a>
    </div>

    <ul class="nav navbar-nav">
      <li>
        <a href="@Url.Action(nameof(HomeController.Dashboard), "Home", new { ignored = string.Empty })"><i class="fa fa-tachometer"></i> Dashboard</a>
      </li>
      <li>
        <a href="@Url.Action(nameof(HomeController.Settings), "Home")"><i class="fa fa-wrench"></i> Settings</a>
      </li>
    </ul>
  </div>
</nav>